<% if signed_in? %>
	<div class="btn center h2">
		<%= link_to "Sign Out", session_path, method: :delete %>
	</div>
<% else %>

	<div class="btn center h2">
		<%= link_to "Sign In", new_session_path%>
	</div>

	<div class="btn center h2">
		<%= link_to "Sign Up", new_user_path%>
	</div>
<%end %>