<% if signed_in? %>
<div class="btn h1 center">
	<%= link_to "New Log", new_log_path %>
</div>

<div class="btn h1 center">
	<%= link_to "New Log", new_log_path %>
</div>

<div class="btn h1 center">
	<%= link_to "New Log", new_log_path %>
</div>

<% else %>
	Please <a href="/session/new">Sign-In</a> or
	<a href="/users/new">Sign-Up</a>
<% end %>