/* Color Palet */

$primary-background: rgba(44, 44, 40, 1);
$secondary-background: rgba(255, 0, 0, 1);

$primary-font-color: rgba(44, 44, 44, 1);
$secondary-font-color: rgba(255, 255, 0, 1);

$primary-transparent-element: rgba(66, 63, 63, 0.9);

/* Primary Colors */

$black: rgba(44, 44, 44, 1);
$white: rgba(228, 228, 228, 1);

$light-blue: rgba(93, 173, 243, 0.9);

/* Sizing */

$global-max-width: 100%;
$global-min-width: 100%;

$element-width: 20%;

/* Typography */

$primary-font: Verdana, sans-serif;
$secondary-font: 'Raleway'; /* Sans-Serif*/
$serif-font: 'Josefin Slab'; /* Serif */



